In [1]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/BgyRrKq0xex8B0N3GJxbXv5WZ/test.csv")

In [9]:

cols = list(df)
cols[1], cols[0] = cols[0], cols[1]
df.loc[:2,cols].head()

,Pclass,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,892,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,893,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,894,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [10]:
col1=input()
col2=input()
cols = list(df)
cols[1], cols[0] = col1[0], col2[1]
df.loc[:2,cols]

Sex
Name

/Users/maddy/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,a,S,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,NaN,NaN,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,NaN,NaN,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,NaN,NaN,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [11]:
col1=input()
col2=input()
cols = list(df)
cols[1], cols[0] = col1[0], col2[1]
df.reindex[:2,cols]

Sex
Name

TypeError: 'method' object is not subscriptable

In [15]:
col1=input()
col2=input()
columnsTitles=[col1, col2]
df=df.reindex(columns=columnsTitles)
df[:3]

Sex
Name

      Sex                              Name
0    male                  Kelly, Mr. James
1  female  Wilkes, Mrs. James (Ellen Needs)
2    male         Myles, Mr. Thomas Francis

In [17]:
col1=input()
col2=input()
cols = list(df)
cols[1], cols[0] = col1, col2
df.loc[:2,cols].head()

Sex
Name

                               Name     Sex
0                  Kelly, Mr. James    male
1  Wilkes, Mrs. James (Ellen Needs)  female
2         Myles, Mr. Thomas Francis    male