In [1]:
import pandas as pd 
import sys,ast
import numpy as np
df=pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/E4QbGd18ORJpbZZkndZ5bdKBn/googleplaystore_user_reviews.csv')

In [2]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
new_df=df.select_dtypes(exclude=numerics)
grouped=df.groupby(new_df.columns.tolist()).mean()
grouped.head()

                                                                        Sentiment_Polarity  \
App                   Translated_Review                      Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods Positive                 1.00
                      A big thanks ds I got bst gd health    Positive                 0.10
                      Absolutely Fabulous Phenomenal         Positive                 0.45
                      Amazing                                Positive                 0.60
                      An excellent A useful                  Positive                 0.65

                                                                        Sentiment_Subjectivity
App                   Translated_Review                      Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods Positive                     0.65
                      A big thanks ds I got bst gd health    Positive                     0.15
                      Absolutely Fabulous Phenomenal         Positive                     0.75
                      Amazing                                Positive                     0.90
                      An excellent A useful                  Positive                     0.50

In [5]:
grouped[:12]

                                                                                    Sentiment_Polarity  \
App                   Translated_Review                                  Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods             Positive             1.000000
                      A big thanks ds I got bst gd health                Positive             0.100000
                      Absolutely Fabulous Phenomenal                     Positive             0.450000
                      Amazing                                            Positive             0.600000
                      An excellent A useful                              Positive             0.650000
                      Awesome resources I begin new journey. I can't ... Positive             0.712121
                      Because I found important.                         Positive             0.400000
                      Best                                               Positive             1.000000
                      Best Best                                          Positive             1.000000
                      Best food Thank you recipe book                    Positive             1.000000
                      Best idea us                                       Positive             1.000000
                      Best thing I lost ten lbs. two months help tips    Positive             0.500000

                                                                                    Sentiment_Subjectivity
App                   Translated_Review                                  Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods             Positive                 0.650000
                      A big thanks ds I got bst gd health                Positive                 0.150000
                      Absolutely Fabulous Phenomenal                     Positive                 0.750000
                      Amazing                                            Positive                 0.900000
                      An excellent A useful                              Positive                 0.500000
                      Awesome resources I begin new journey. I can't ... Positive                 0.734848
                      Because I found important.                         Positive                 1.000000
                      Best                                               Positive                 0.300000
                      Best Best                                          Positive                 0.300000
                      Best food Thank you recipe book                    Positive                 0.300000
                      Best idea us                                       Positive                 0.300000
                      Best thing I lost ten lbs. two months help tips    Positive                 0.150000

In [9]:
df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [11]:
df.dtypes

App                        object
Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

In [20]:
newdf = df.select_dtypes(exclude=numerics)
newdf.head()

,App,Translated_Review,Sentiment
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive
2,10 Best Foods for You,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive
4,10 Best Foods for You,Best idea us,Positive

In [23]:
newdf1 = newdf.groupby(['App', 'Translated_Review', 'Sentiment'])

In [24]:
newdf1

In [25]:
print(newdf1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10d61e0b8>

In [26]:
newdf1.mean()

DataError: No numeric types to aggregate

In [27]:
col = df.select_dtypes(exclude=numerics)

In [36]:
df1 = df.groupby(col.columns.tolist()).mean()

In [41]:
df1[:6]

                                                                                    Sentiment_Polarity  \
App                   Translated_Review                                  Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods             Positive             1.000000
                      A big thanks ds I got bst gd health                Positive             0.100000
                      Absolutely Fabulous Phenomenal                     Positive             0.450000
                      Amazing                                            Positive             0.600000
                      An excellent A useful                              Positive             0.650000
                      Awesome resources I begin new journey. I can't ... Positive             0.712121

                                                                                    Sentiment_Subjectivity
App                   Translated_Review                                  Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods             Positive                 0.650000
                      A big thanks ds I got bst gd health                Positive                 0.150000
                      Absolutely Fabulous Phenomenal                     Positive                 0.750000
                      Amazing                                            Positive                 0.900000
                      An excellent A useful                              Positive                 0.500000
                      Awesome resources I begin new journey. I can't ... Positive                 0.734848

In [33]:
print(df1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10d8ccdd8>

In [48]:
df.groupby

ValueError: Grouper for '<class 'pandas.core.frame.DataFrame'>' not 1-dimensional