In [3]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/GVj4YrNpJwOvL7gBe2B53wJy/Admission_Predict.csv")

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
normalized_df=(df-df.min())/(df.max()-df.min())

In [7]:
inputwill = ['Serial No.','GRE Score', 'TOEFL Score']

In [8]:
normalized_df[inputwill]

     Serial No.  GRE Score  TOEFL Score
0      0.000000       0.94     0.928571
1      0.002506       0.68     0.535714
2      0.005013       0.52     0.428571
3      0.007519       0.64     0.642857
4      0.010025       0.48     0.392857
5      0.012531       0.80     0.821429
6      0.015038       0.62     0.607143
7      0.017544       0.36     0.321429
8      0.020050       0.24     0.357143
9      0.022556       0.66     0.571429
10     0.025063       0.70     0.500000
11     0.027569       0.74     0.678571
12     0.030075       0.76     0.714286
13     0.032581       0.34     0.607143
14     0.035088       0.42     0.428571
15     0.037594       0.48     0.464286
16     0.040100       0.54     0.535714
17     0.042607       0.58     0.500000
18     0.045113       0.56     0.642857
19     0.047619       0.26     0.357143
20     0.050125       0.44     0.535714
21     0.052632       0.70     0.785714
22     0.055138       0.76     0.857143
23     0.057644       0.88     0.964286
24     0.060150       0.92     0.964286
25     0.062657       1.00     1.000000
26     0.065163       0.64     0.607143
27     0.067669       0.16     0.214286
28     0.070175       0.10     0.035714
29     0.072682       0.40     0.250000
..          ...        ...          ...
370    0.927318       0.40     0.392857
371    0.929825       0.68     0.642857
372    0.932331       0.92     0.964286
373    0.934837       0.62     0.607143
374    0.937343       0.50     0.464286
375    0.939850       0.28     0.321429
376    0.942356       0.14     0.142857
377    0.944862       0.00     0.285714
378    0.947368       0.26     0.214286
379    0.949875       0.42     0.250000
380    0.952381       0.64     0.428571
381    0.954887       0.58     0.464286
382    0.957393       0.68     0.642857
383    0.959900       0.20     0.285714
384    0.962406       1.00     0.750000
385    0.964912       0.90     0.892857
386    0.967419       0.24     0.321429
387    0.969925       0.34     0.464286
388    0.972431       0.12     0.178571
389    0.974937       0.60     0.571429
390    0.977444       0.48     0.357143
391    0.979950       0.56     0.500000
392    0.982456       0.72     0.714286
393    0.984962       0.54     0.428571
394    0.987469       0.78     0.678571
395    0.989975       0.68     0.642857
396    0.992481       0.70     0.535714
397    0.994987       0.80     0.857143
398    0.997494       0.44     0.392857
399    1.000000       0.86     0.892857

[400 rows x 3 columns]