In [2]:
import numpy as np
import pandas as pd

marks = pd.read_csv("https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O")
marks.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [7]:
marks = marks[marks.isnull().sum(axis=1) < 5]

In [10]:
marks

Empty DataFrame
Columns: [Prefix, Assignment, Tutorial, Midterm, TakeHome, Final]
Index: []