In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/1YZQ77KLVyegqroyJgk5Z7d1/titaniMod2.csv")


url = "https://media-doselect.s3.amazonaws.com/generic/1YZQ77KLVyegqroyJgk5Z7d1/titaniMod2.csv"

In [2]:
df.head()

,Age,Cabin,Date,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,ShipName,SibSp,Ticket
0,34.5,NaN,1979-10-07,Q,7.8292,"Kelly, Mr. James",0.0,892.0,3.0,male,Titanic,0.0,330911
1,47.0,NaN,1979-10-07,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0.0,893.0,3.0,female,Titanic,1.0,363272
2,62.0,NaN,1979-10-07,Q,9.6875,"Myles, Mr. Thomas Francis",0.0,894.0,2.0,male,Titanic,0.0,240276
3,27.0,NaN,1979-10-07,S,8.6625,"Wirz, Mr. Albert",0.0,895.0,3.0,male,Titanic,0.0,315154
4,22.0,NaN,1979-10-07,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1.0,896.0,3.0,female,Titanic,1.0,3101298

In [3]:
print(df.shape)
print(df.info())

(836, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 13 columns):
Age            332 non-null float64
Cabin          91 non-null object
Date           418 non-null object
Embarked       418 non-null object
Fare           417 non-null float64
Name           418 non-null object
Parch          418 non-null float64
PassengerId    418 non-null float64
Pclass         418 non-null float64
Sex            418 non-null object
ShipName       418 non-null object
SibSp          418 non-null float64
Ticket         418 non-null object
dtypes: float64(6), object(7)
memory usage: 85.0+ KB
None

In [4]:
df.isnull()

,Age,Cabin,Date,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,ShipName,SibSp,Ticket
0,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,False,False,False,False
10,True,True,False,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,True,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,True,False,False,False,False,False,False,False,False,False,False,False
16,False,True,False,False,False,False,False,False,False,False,False,False,False
17,False,True,False,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,False,False,False,False,False,False,False,False
19,False,True,False,False,False,False,False,False,False,False,False,False,False
20,False,True,False,False,False,False,False,False,False,False,False,False,False
21,False,True,False,False,False,False,False,False,False,False,False,False,False
22,True,True,False,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,True,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False
29,True,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,True,True,True,True,True,True,True,True,True,True,True,True,True
807,True,True,True,True,True,True,True,True,True,True,True,True,True
808,True,True,True,True,True,True,True,True,True,True,True,True,True
809,True,True,True,True,True,True,True,True,True,True,True,True,True
810,True,True,True,True,True,True,True,True,True,True,True,True,True
811,True,True,True,True,True,True,True,True,True,True,True,True,True
812,True,True,True,True,True,True,True,True,True,True,True,True,True
813,True,True,True,True,True,True,True,True,True,True,True,True,True
814,True,True,True,True,True,True,True,True,True,True,True,True,True
815,True,True,True,True,True,True,True,True,True,True,True,True,True
816,True,True,True,True,True,True,True,True,True,True,True,True,True
817,True,True,True,True,True,True,True,True,True,True,True,True,True
818,True,True,True,True,True,True,True,True,True,True,True,True,True
819,True,True,True,True,True,True,True,True,True,True,True,True,True
820,True,True,True,True,True,True,True,True,True,True,True,True,True
821,True,True,True,True,True,True,True,True,True,True,True,True,True
822,True,True,True,True,True,True,True,True,True,True,True,True,True
823,True,True,True,True,True,True,True,True,True,True,True,True,True
824,True,True,True,True,True,True,True,True,True,True,True,True,True
825,True,True,True,True,True,True,True,True,True,True,True,True,True
826,True,True,True,True,True,True,True,True,True,True,True,True,True
827,True,True,True,True,True,True,True,True,True,True,True,True,True
828,True,True,True,True,True,True,True,True,True,True,True,True,True
829,True,True,True,True,True,True,True,True,True,True,True,True,True
830,True,True,True,True,True,True,True,True,True,True,True,True,True
831,True,True,True,True,True,True,True,True,True,True,True,True,True
832,True,True,True,True,True,True,True,True,True,True,True,True,True
833,True,True,True,True,True,True,True,True,True,True,True,True,True
834,True,True,True,True,True,True,True,True,True,True,True,True,True
835,True,True,True,True,True,True,True,True,True,True,True,True,True

In [5]:
df.isnull().all(axis=1).sum()

418

In [6]:
round(100*(df.isnull().sum()/len(df.index)), 2)

Age            60.29
Cabin          89.11
Date           50.00
Embarked       50.00
Fare           50.12
Name           50.00
Parch          50.00
PassengerId    50.00
Pclass         50.00
Sex            50.00
ShipName       50.00
SibSp          50.00
Ticket         50.00
dtype: float64

In [7]:
100*(len(df[df.isnull().sum(axis=1) > 5].index) / len(df.index))

50.0

In [8]:
df = df[df.isnull().sum(axis=1) <= 5]

In [9]:
100*(len(df[df.isnull().sum(axis=1) > 5].index) / len(df.index))

0.0

In [11]:
df = df[df.isnull().sum(axis=1) <= 5]

# look at the summary again
round(100*(df.isnull().sum()/len(df.index)), 2)

Age            20.57
Cabin          78.23
Date            0.00
Embarked        0.00
Fare            0.24
Name            0.00
Parch           0.00
PassengerId     0.00
Pclass          0.00
Sex             0.00
ShipName        0.00
SibSp           0.00
Ticket          0.00
dtype: float64

In [12]:
# removing NaN Price rows
df = df[~np.isnan(df['Cabin'])]

round(100*(df.isnull().sum()/len(df.index)), 2)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''