In [24]:
import pandas as pd 
import sys,ast
import numpy as np
df=pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/wkyk2AWYdJbqgXoRo3Y8w42nX/test.csv')
cols = ['Pclass','Age']
values = [3,13]
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [35]:
newdf1= df.groupby(cols).agg(np.mean)
print(newdf1[:5])

             PassengerId  SibSp  Parch      Fare
Pclass Age
1      6.0        1088.0    0.0    2.0  134.5000
       13.0        956.0    2.0    2.0  262.3750
       17.0       1295.0    0.0    0.0   47.1000
       18.0       1180.5    1.0    0.0   56.5500
       21.0       1019.0    0.0    0.5   43.9646

In [50]:
grouped = df.groupby(cols)
a = grouped.filter(lambda x : x ['Pclass'].mean() == 3)
print(a)

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
21           913       3                          Olsen, Master. Artur Karl
25           917       3                            Robins, Mr. Alexander A
27           919       3                                  Daher, Mr. Shedid
32           924       3           Dean, Mrs. Bertram (Eva Georgetta Light)
35           927       3   Katavelas, Mr. Vassilios (Catavelas Vassilios")"
37           929       3                                 Cacic, Miss. Manda
38           930       3                                    Sap, Mr. Julius
40           932       3                                   Karun, Mr. Franz
42           934       3                              Goldsmith, Mr. Nathan
45           937       3                    Peltomaki, Mr. Nikolai Johannes
49           941       3     Coutts, Mrs. William (Winnie Minnie" Treanor)"
55           947       3                               Rice, Master. Albert
56           948       3                                    Cor, Mr. Bartol
57           949       3                      Abelseth, Mr. Olaus Jorgensen
60           952       3                                    Dika, Mr. Mirko
62           954       3                       Bjorklund, Mr. Ernst Herbert
63           955       3                       Bradley, Miss. Bridget Delia
66           958       3                            Burns, Miss. Mary Delia
70           962       3                          Mulvihill, Miss. Bertha E
..           ...     ...                                                ...
318         1210       3                          Jonsson, Mr. Nils Hilding
320         1212       3                        Andersson, Mr. Johan Samuel
321         1213       3                              Krekorian, Mr. Neshan
325         1217       3                                     Assam, Mr. Ali
333         1225       3              Nakid, Mrs. Said (Waika Mary" Mowad)"
334         1226       3                                      Cor, Mr. Ivan
337         1229       3                                  Elias, Mr. Joseph
341         1233       3                         Lundstrom, Mr. Thure Edvin
345         1237       3                        Abelseth, Miss. Karen Marie
347         1239       3    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
354         1246       3            Dean, Miss. Elizabeth Gladys Millvina""
359         1251       3  Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...
360         1252       3                        Sage, Master. William Henry
363         1255       3                                  Strilic, Mr. Ivan
367         1259       3       Riihivouri, Miss. Susanna Juhantytar Sanni""
376         1268       3                                  Kink, Miss. Maria
379         1271       3                        Asplund, Master. Carl Edgar
381         1273       3                                  Foley, Mr. Joseph
383         1275       3                McNamee, Mrs. Neal (Eileen O'Leary)
386         1278       3                     Aronsson, Mr. Ernst Axel Algot
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
392         1284       3                      Abbott, Master. Eugene Joseph
394         1286       3                           Kink-Heilmann, Mr. Anton
396         1288       3                               Colbert, Mr. Patrick
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
409         1301       3                          Peacock, Miss. Treasteall
412         1304       3                     Henriksson, Miss. Jenny Lovisa
415         1307       3                       Saether, Mr. Simon Sivertsen

        Sex    Age  SibSp  Parch              Ticket     Fare  Cabin Embarked
0      male  34.50      0      0              330911   7.8292    NaN        Q
1    female  47.00      1      0              363272   7.0000    NaN        S
3      male  27.00      0      0              315154   8.6625    NaN        S
4    female  22.00      1      1             3101298  12.2875    NaN        S
5      male  14.00      0      0                7538   9.2250    NaN        S
6    female  30.00      0      0              330972   7.6292    NaN        Q
8    female  18.00      0      0                2657   7.2292    NaN        C
9      male  21.00      2      0           A/4 48871  24.1500    NaN        S
17     male  21.00      0      0                2692   7.2250    NaN        C
18   female  27.00      1      0    STON/O2. 3101270   7.9250    NaN        S
19   female  45.00      0      0                2696   7.2250    NaN        C
21     male   9.00      0      1             C 17368   3.1708    NaN        S
25     male  50.00      1      0           A/5. 3337  14.5000    NaN        S
27     male  22.50      0      0                2698   7.2250    NaN        C
32   female  33.00      1      2           C.A. 2315  20.5750    NaN        S
35     male  18.50      0      0                2682   7.2292    NaN        C
37   female  21.00      0      0              315087   8.6625    NaN        S
38     male  25.00      0      0              345768   9.5000    NaN        S
40     male  39.00      0      1              349256  13.4167    NaN        C
42     male  41.00      0      0  SOTON/O.Q. 3101263   7.8500    NaN        S
45     male  25.00      0      0   STON/O 2. 3101291   7.9250    NaN        S
49   female  36.00      0      2          C.A. 37671  15.9000    NaN        S
55     male  10.00      4      1              382652  29.1250    NaN        Q
56     male  35.00      0      0              349230   7.8958    NaN        S
57     male  25.00      0      0              348122   7.6500  F G63        S
60     male  17.00      0      0              349232   7.8958    NaN        S
62     male  18.00      0      0              347090   7.7500    NaN        S
63   female  22.00      0      0              334914   7.7250    NaN        Q
66   female  18.00      0      0              330963   7.8792    NaN        Q
70   female  24.00      0      0              382653   7.7500    NaN        Q
..      ...    ...    ...    ...                 ...      ...    ...      ...
318    male  27.00      0      0              350408   7.8542    NaN        S
320    male  26.00      0      0              347075   7.7750    NaN        S
321    male  25.00      0      0                2654   7.2292  F E57        C
325    male  23.00      0      0  SOTON/O.Q. 3101309   7.0500    NaN        S
333  female  19.00      1      1                2653  15.7417    NaN        C
334    male  27.00      0      0              349229   7.8958    NaN        S
337    male  39.00      0      2                2675   7.2292    NaN        C
341    male  32.00      0      0              350403   7.5792    NaN        S
345  female  16.00      0      0              348125   7.6500    NaN        S
347  female  38.00      0      0                2688   7.2292    NaN        C
354  female   0.17      1      2           C.A. 2315  20.5750    NaN        S
359  female  30.00      1      0              349910  15.5500    NaN        S
360    male  14.50      8      2            CA. 2343  69.5500    NaN        S
363    male  27.00      0      0              315083   8.6625    NaN        S
367  female  22.00      0      0             3101295  39.6875    NaN        S
376  female  22.00      2      0              315152   8.6625    NaN        S
379    male   5.00      4      2              347077  31.3875    NaN        S
381    male  26.00      0      0              330910   7.8792    NaN        Q
383  female  19.00      1      0              376566  16.1000    NaN        S
386    male  24.00      0      0              349911   7.7750    NaN        S
388    male  21.00      0      0              364858   7.7500    NaN        Q
389    male   6.00      3      1              349909  21.0750    NaN        S
392    male  13.00      0      2           C.A. 2673  20.2500    NaN        S
394    male  29.00      3      1              315153  22.0250    NaN        S
396    male  24.00      0      0              371109   7.2500    NaN        Q
398    male  22.00      0      0              347065   7.7750    NaN        S
399    male  31.00      0      0               21332   7.7333    NaN        Q
409  female   3.00      1      1  SOTON/O.Q. 3101315  13.7750    NaN        S
412  female  28.00      0      0              347086   7.7750    NaN        S
415    male  38.50      0      0  SOTON/O.Q. 3101262   7.2500    NaN        S

[146 rows x 11 columns]

In [64]:
b = grouped.filter(lambda x : x ['Age'].mean() == 13)
print(b)

     PassengerId  Pclass                           Name   Sex   Age  SibSp  \
64           956       1    Ryerson, Master. John Borie  male  13.0      2
154         1046       3   Asplund, Master. Filip Oscar  male  13.0      4
392         1284       3  Abbott, Master. Eugene Joseph  male  13.0      0

     Parch     Ticket      Fare            Cabin Embarked
64       2   PC 17608  262.3750  B57 B59 B63 B66        C
154      2     347077   31.3875              NaN        S
392      2  C.A. 2673   20.2500              NaN        S

In [65]:
print(b)

     PassengerId  Pclass                           Name   Sex   Age  SibSp  \
64           956       1    Ryerson, Master. John Borie  male  13.0      2
154         1046       3   Asplund, Master. Filip Oscar  male  13.0      4
392         1284       3  Abbott, Master. Eugene Joseph  male  13.0      0

     Parch     Ticket      Fare            Cabin Embarked
64       2   PC 17608  262.3750  B57 B59 B63 B66        C
154      2     347077   31.3875              NaN        S
392      2  C.A. 2673   20.2500              NaN        S

In [39]:
b = grouped.filter(lambda x : x ['Age'].mean() == 13 & ['Pclass'] == 3)
print(b)

TypeError: unsupported operand type(s) for &: 'int' and 'list'

In [47]:
c = df[(df['Pclass'] == 3 & (df['Age']>=13))]

In [68]:
d = c.filter(lambda x : x ['Age'].mean() == 13)

TypeError: 'function' object is not iterable

In [69]:
zipped = zip(cols, values)
df1 = df.query(' & '.join(['{}=={}'.format(i,j) for i, j in zipped]))

In [74]:
df1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
154,1046,3,"Asplund, Master. Filip Oscar",male,13.0,4,2,347077,31.3875,NaN,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S

In [71]:
print(zipped)

<zip object at 0x10f688548>

In [73]:
df1 = df[np.logical_and.reduce([df[c] == v for c, v in zipped])]

KeyError: True